<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Welcome to sportzbee</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">

    </head>
  <body style="background-color:#E3F2FD">
    <div id="reactnavbar"></div>
    <div id="navbar"></div>
    <div id="app">
      <div class="container">
          <p>Welcome the online social and digital sports platform for sports enthusiasts</p>
          <p> Here you can </p>
          <p> - Organize sports events </p>
          <p> - Participate in events around your </p>
          <p> - Capture moments and Share with your friends </p>
          <p> - Build a personal sports portfolio and cherish it for years</p>
        <div class="three-quarters-loader">Loading…</div>
      </div>
      </div>
    </br>

    <div id="services"></div>
    <div id="footer"></div>

    {% style "/css/screen.css" %}

    <!-- scripts and styles

    {% style "/bootstrap-3.3.5/css/bootstrap.min.css" %}
    {% style "/css/ripples.min.css" %}
    {% style "/css/material.min.css" %}
    {% style "/css/material-fullpalette.min.css" %}
    {% style "/bootstrap-3.3.5/css/bootstrap-theme.min.css" %}
    {% style "/css/screen.css" %}
    {% style "/js/jquery.min.js" %}
    {% script "/bootstrap-3.3.5/js/bootstrap.min.js" %}
     -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% if dev %}
      {% script "/js/out/goog/base.js" %}
      {% script "/js/app.js" %}
      <script type="text/javascript">goog.require("sportzbee.app");</script>
    {% else %}
      {% script "/js/app.js" %}
    {% endif %}
  </body>
</html>




